html {
    margin: auto;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    font-family: "open sans", sans-serif;

}

html, body {
    height: 100%;
}

h3 {

    
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    font-family: "open sans", sans-serif;




}